.wrapper {
  width: 320px;
  text-align: end;
  margin: 5px auto;
}
.wrapper {
  margin: 0 auto;
}
.wrapper .indicator-bar {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  margin-top: 40px;
  background: #222;
  width: 100%;
  height: 3px;
}
.indicator-bar::-webkit-progress-bar {
  background-color: #222;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.indicator-bar::-webkit-progress-value {
  border-radius: 4px;
  background-size: 30px 18px, 100% 100%, 100% 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.label-box {
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0;
}
.label {
  position: absolute;
  left: 120px;
  font-size: 14px;
  margin: 0 auto;
}
.strength-easy::-webkit-progress-value {
  background: #f00;
  filter: drop-shadow(0 0 5px #f00) drop-shadow(0 0 10px #f00) drop-shadow(0 0 20px #f00);
}
.strength-medium::-webkit-progress-value {
  background: #ffdd00;
  filter: drop-shadow(0 0 5px #ffdd00) drop-shadow(0 0 10px #ffdd00) drop-shadow(0 0 20px #ffdd00);
}
.strength-strong::-webkit-progress-value {
  background: #0f0;
  filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 10px #0f0) drop-shadow(0 0 20px #0f0);
}
.strength-easy strong {
  color: #f00;
  filter: drop-shadow(0 0 5px #f00) drop-shadow(0 0 10px #f00) drop-shadow(0 0 20px #f00);
}
.strength-medium strong {
  color: #ffdd00;
  filter: drop-shadow(0 0 5px #ffdd00) drop-shadow(0 0 10px #ffdd00) drop-shadow(0 0 20px #ffdd00);
}
.strength-strong strong {
  color: #0f0;
  filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 10px #0f0) drop-shadow(0 0 20px #0f0);
}
