.wrapper {
    width: 320px;
    text-align: center;
    margin: 55px auto;
  }
  .wrapper {
    margin: 0 auto;
  }
  .indicator-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
  }
  .indicator-bar::-webkit-progress-bar {
    background-color: rgb(150, 150, 150);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .pwd-label {
    font-size: 22px;
  }
  .indicator-bar::-webkit-progress-value {
    border-radius: 4px;
    background-size: 30px 18px, 100% 100%, 100% 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .label {
    margin-top: 10px;
    margin-bottom: 0px;
  }